'$schema': 'https://git.drupalcode.org/project/drupal/-/raw/10.1.x/core/modules/sdc/src/metadata.schema.json'
name: "{{ component_name }}"
status: "{{ component_status }}"
{% if component_description is not empty %}
description: "{{ component_description }}"
{% endif %}
libraryOverrides:
  js:
    {{ component_machine_name }}.js: { attributes: { type: module } }
  {% if component_libraries is not empty %}
  dependencies:
    {% for library in component_libraries %}
    - "{{ library }}"
    {% endfor %}
{% endif %}
props:
  type: object
  {% if component_props is not empty %}
  properties:
    {% for prop in component_props %}
    "{{ prop.name }}":
      type: "{{ prop.type }}"
      title: "{{ prop.title }}"
      {% if prop.description %}
      description: "{{ prop.description }}"
      {% endif %}
      {% if prop.examples is not empty %}
      examples:
        {% for example in prop.examples %}
        - "{{ example }}"
        {% endfor %}
      {% endif %}
    {% endfor %}
{% endif %}
