import {LitElement, html} from 'https://cdn.jsdelivr.net/gh/lit/dist@2/core/lit-core.min.js';

class {{ component_machine_name|title|replace({'-': ""}) }} extends LitElement {
  render() {
    return html`<p>Hello from {{ component_machine_name }}</p>`;
  }
}
customElements.define('{{component_machine_name}}', {{component_machine_name|title|replace({'-': ""})}});